<%- include("../includes/header"); -%>

<link rel="stylesheet" href="/CSS/style.css" type="text/css">

</head>
<body>

  <main>

<%- include("../includes/navigation"); %>

  <div class="grid container">
      <div class="grid-box row">
        <% for( let i = 0; i < products.length; i++ ) { %> 
          <div class="single-grid col col-lg-3 col-md-6 col-sm-12">
              <div class="image">
                  <img src="/<%= products[i].imgurl %> " class="img-thumbnail" alt="Image">
              </div>
              <div class="content">
                  <h4 class="product-title"><%= products[i].title %> </h4>
                  <h4 class="product-price">$<%= products[i].price %> </h4>
                  <p class="product-description"><%= products[i].discription %> </p>
              </div>
              <div class="buttons">
                  <button class="add-cart btn btn-dark"><i class="fas fa-cart-arrow-down"></i></button>
                  <a class="Details-btn btn btn-dark" href="product/<%= products[i]._id %> ">Details</a>
                  <button class="like btn"><i class="far fa-heart"></i></button>
              </div>
          </div>
        <% } %>
          
      </div>
  </div>

  <%- include("../includes/pagination", {
    currentPage: currentPage,
    hasNextPage: hasNextPage,
    hasPreviousPage: hasPreviousPage,
    nextPage: nextPage,
    previousPage: previousPage,
    lastPage: lastPage 
  }); -%>

  </main>

    <%- include("../includes/footer"); -%>